.obra__maintitle {
  text-align: center;
  font-size: var(--size-3xl);
}

.obra__main {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.obra__img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}
.obra__box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.obra__title {
  font-size: 1.5rem;
}
/* xs */
@media (max-width: 475px) {
  .obra__img {
    width: 100%;
    height: 20rem;
  }
  .obra__box {
    display: flex;
    gap: 2rem;
    font-size: var(--size-xl);
  }
}

/* sm */
@media (max-width: 640px) {
  .obra__box {
    display: flex;
    gap: 2rem;
    font-size: var(--size-xl);
  }
}

/* md */
@media (max-width: 768px) {
}

/* lg */
@media (max-width: 1024px) {
  .obra__main {
    display: flex;
    flex-direction: column;
  }
  .obra__img {
    width: 30rem;
    height: 100%;
  }
  .obra__box {
    display: flex;
    gap: 2rem;
    font-size: var(--size-xl);
  }
  .obra__maintitle {
    font-size: var(--size-3xl);
  }
  .obra__title {
    font-size: var(--size-3xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .obra__maintitle {
    font-size: var(--size-3xl);
    margin-bottom: 0.5rem;
  }
  .obra__title {
    font-size: var(--size-2xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
