.parallax {
  height: 70vh;
  width: 100%;
  background: url(/public/v.jpg);
  background-attachment: fixed;
  overflow: hidden;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}
.parallax__txt {
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
}


/* xs */
@media (max-width: 475px) {
  .parallax__txt {
    font-size: 1rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

