/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  width: 10rem;
  padding: 1rem;
  background-color: var(--blue);
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  font-weight: 600;
  transition: ease all 0.5s;
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: var(--blue);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.containernopad {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.section {
  margin-top: 5rem;
}

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
  }
}
