.xx {
    color: aliceblue;
    background: linear-gradient(#2b2d42, #8d99ae, #edf2f4, #ef233c, #d90429);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

body {

background-image: url(wallpaper.png);
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}