body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  background-color: #001233;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  font-family: Poppins;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #ff595a;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo {
  display: flex;
  justify-content: start;
  height: 60px;
  width: 150px;
}
.nav-right {
  display: flex;
  gap: 40px;
  font-weight: 500;
  margin-left: 10px;
}
.img-cover {
  display: flex;
  justify-content: center;
  height: 1200px;
  width: 100%;
  opacity: 0.5;
}

.title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: right;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 70px;
  text-align: right;
}

p {
  /* background-color: #fff; */
  padding: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.07em;
  line-height: 1.4em;
  text-transform: none;
}

.content-2 {
  box-sizing: border-box;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 10px;
}
.img1 {
  width: 100%;
  height: 100%;
}
